<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select your franchise</title>


      <!--Bootstrap Links-->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />


      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />

      <link rel="stylesheet" href="/css/franchiseSelector.css">
</head>
<body>
    <div class="team">
        <div class="heading">        <h1>Select your franchise.</h1>
        </div>
        <div class="container-fluid teams">
            <div class="row justify-content-center">
                
                
                    <div class="col-5 col-md-2 kkr">
                        <h1>KKR</h1>
                        <div class="imgcontainer">
                            <img src="../asset/kkr.png"   alt="">
    
                        </div>
                        <div class="details">
                            <h5>Knight Riders</h5>
                            <p>Dinesh Karthik</p>
                        </div>
               
                    </div>
                 
                
            
                <div class="col-5 col-md-2 rcb">
                    
                    <h1>RCB</h1>
                    <div class="imgcontainer">
                        <img src="../asset/rcb.png"   alt="">

                    </div>
                    <div class="details">
                        <h5>Challengers Bangalore</h5>
                        <p>Virat Kohli</p>
                    </div>
                </div>
           
              
            
            </div>
            <div class="row justify-content-center kkrrow">
                
                    <div class="col-10 col-md-4 csk" onclick="akil()">
                        <h1>CSK</h1>
                        <div class="imgcontainer">
                            <img src="../asset/csk.png"   alt="">
    
                        </div>
                        <div class="details">
                            <h5>Super Kings</h5>
                            <p>MS Dhoni</p>
                        </div>
                    </div>
                
              
            </div>
            <div class="row justify-content-center">
                
                    <div class="col-5 col-md-2 srh">
                        <h1>SRH</h1>
                        <div class="imgcontainer">
                            <img src="../asset/srh.png"   alt="">
    
                        </div>
                        <div class="details">
                            <h5>Sun Risers</h5>
                            <p>D Warner</p>
                        </div>
                    </div>
               
                <div class="col-5 col-md-2 mi">
                    <h1>MI</h1>
                    <div class="imgcontainer">
                        <img src="../asset/mi.png"   alt="">

                    </div>
                    <div class="details">
                        <h5>Mumbai Indians</h5>
                        <p>Rohit Sharma</p>
                    </div>
                </div>
              
            </div>

               
            </div>
        
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Swiper CDN Script-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
  src="https://code.jquery.com/jquery-2.2.4.js"
  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
  crossorigin="anonymous"></script>

</body>
</html>