@import url('https://fonts.googleapis.com/css?family=Poppins:700&display=swap');

.teams{
    top:5vh;
}
body{
    width: 100%;
    height:100%;
    background:#1A1B1E ;
}
.csk{
height: 20vh;

padding:2vh;
background:linear-gradient(90deg, rgba(255,181,0,1) 0%, rgba(246,233,9,1) 100%);
border-radius:10px;
font-family:'Poppins',sans-serif;

color:black;



}

.heading{
    top:5vh;
    position: relative;
}
.heading h1{
    font-family:'Poppins',sans-serif;
    color:white;
    text-align: center;
}
.csk .details{
    position: absolute;
    bottom:0;
}
.csk  h1{
    font-size:30px;
}
.csk .imgcontainer{
    position: absolute;
    z-index: 3;
    right:-10px;
    top:-10px;
    padding:1vh;
    background:#DEEAF6 ;
    border-radius:15px;
}
.csk:hover, .kkr:hover , .srh:hover , .mi:hover , .rcb:hover{
    transform:scale(1.03);
    animation:bigger 0.2s ease-in-out;
}
@keyframes bigger{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.03);
    }
}
/* Team RCB */
.rcb{
    height: 20vh;
    padding:2vh;
    background:linear-gradient(83deg, rgb(192, 26, 26) 0%, rgba(210,3,35,1) 28%, rgba(255,0,0,1) 100%);
    border-radius:10px;
    font-family:'Poppins',sans-serif;
  margin-left:1vw;
  color:white;

    
    
    
    }
    .rcb .details{
        position: absolute;
        bottom:0;
    }
    .rcb h1{
        font-size:30px;
    }
    .rcb .imgcontainer{
        position: absolute;
        z-index: 3;
        right:-10px;
        top:-10px;
        padding:1vh;
        background:#DEEAF6 ;
        border-radius:15px;
    }

.kkr{
    height: 20vh;
    padding:2vh;
    background:linear-gradient(83deg, rgba(133,85,196,1) 0%, rgba(64,10,136,1) 49%, rgba(50,7,107,1) 100%);
    border-radius:10px;
    font-family:'Poppins',sans-serif;
color:white;
margin-right: 1vw;


    
    
    
    }
    .kkr .details{
        position: absolute;
        bottom:0;
    }
    .kkr h1{
        font-size:30px;
    }
    .kkr .imgcontainer{
        position: absolute;
        z-index: 3;
        right:-10px;
        top:-10px;
        padding:1vh;
        background:#DEEAF6 ;
        border-radius:15px;
    }
    .row{
        margin-top:3vh;
    }



    /*srh team*/

.srh{
    height: 20vh;
    padding:2vh;
    background:linear-gradient(83deg, rgba(255,89,0,1) 26%, rgba(255,103,0,1) 100%);
    border-radius:10px;
    font-family:'Poppins',sans-serif;
    margin-right:1vw;
    color:white;



    
    
    
    }
    .srh .details{
        position: absolute;
        bottom:0;
    }
    .srh h1{
        font-size:30px;
    }
    .srh .imgcontainer{
        position: absolute;
        z-index: 3;
        right:-10px;
        top:-10px;
        padding:1vh;
        background:#DEEAF6 ;
        border-radius:15px;
    }
    /*mi team*/
    .mi{
        height: 20vh;
        padding:2vh;
        background:linear-gradient(90deg, rgba(11,56,133,1) 0%, rgba(16,73,172,1) 100%);
        border-radius:10px;
        font-family:'Poppins',sans-serif;
        margin-left:1vw;
        color:white;
    
    
        
        
        
        }
        .mi .details{
            position: absolute;
            bottom:0;
        }
        .mi h1{
            font-size:30px;
        }
        .mi .imgcontainer{
            position: absolute;
            z-index: 3;
            right:-10px;
            top:-10px;
            padding:1vh;
            background:#DEEAF6 ;
            border-radius:15px;
        }
        .imgcontainer img{
            width:40px;
            height: 40px;
        }
    @media screen and (max-width: 768px) {

     .kkr,.srh{
         margin-right:3vw;
         
     }
     .rcb, .mi{
         margin-left:3vw;
     }
     .details h5{
         font-size:10px;

     }
     .heading h1{
        font-family:'Poppins',sans-serif;
        color:white;
        font-size:30px;
    }
    .csk h1,.rcb h1,.mi h1, .srh h1, .kkr h1{
        font-size:25px;
    }
    P{
        font-size:13px;
    }
    .imgcontainer img{
        width:30px;
        height: 30px;
    }
  

    }